My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "940b976d-dde1-4938-9c64-a34b15d5f832",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"mistral-7b-instruct\",\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"Hello AI, how are you?\"}\n  ]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -112
      ],
      "id": "5dc686df-7d74-4519-bccf-128a84defbbd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1f30779-014c-4328-b8df-e4ba659823f5",
              "name": "prompt",
              "value": "tell me something interesting about space",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -48
      ],
      "id": "d71977a5-1584-45d3-b558-1f92d0507e31",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      reply: $json[\"choices\"][0][\"message\"][\"content\"]\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -64.5
      ],
      "id": "06addd20-4371-453f-bc29-93e82edc4e1a",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d13a2427-009d-4cda-bc43-bed3dc11fd6d",
  "meta": {
    "instanceId": "6caaaac79dd79bdb23a924d6a2abcc2bf987f3dd4a8f4244308ad4ad10a2f950"
  },
  "id": "qhMDexGdvHAhYjCp",
  "tags": []
}